
            <article class="codeblock,{{ key }}">
                    <div class="meta">
                        <span class="badge">{{ key_space }}</span>
                    </div>
                        <details class="codeblock-content">
                          <summary>Content <span class="tag">({{ key_space }})</span></summary>
                          <div class="markdown-body reasoning-body">
                            {{ md(code_block) }}
                          </div>
                        </details>
            </article>
